<div class="container">
	<div id="login-block" class="row">
		<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12" >
			<div><h1>WELCOME</h1></div>
			<div><hr></div>
			<div><input type="text" [(ngModel)]="this.ls.email" placeholder="Email"></div>
			<div><input type="password" [(ngModel)]="this.ls.password" placeholder="Password"></div>
			<div *ngIf="this.us.displayError">
				<p class="invalid">Invalid Login Credentials</p>
			</div>
			<div id="login-submit" class="col-12"><button routerLink="/story">SUBMIT</button></div>
			<div id="login-register" class="col-12"><button (click)="changeView()">REGISTER</button></div>
		</div>
	</div>
</div>
<!-- -->