.container {
    background: rgba(0, 0, 0, 0.35);
    padding-bottom: 25px;
}

#logout-button-block {
    margin-top: 10px;
<<<<<<< HEAD
}

#userinfo {
    font-size: 30px;
    color: white;
    text-align: right;
    margin-top: 10px;
    border-bottom: 1px solid white;
=======
>>>>>>> origin/Miguel
}